*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4c7db;
    flex-direction: column;
}
main{
    width: 600px;
    height: 358px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 23px;
    text-indent: 25px;
}
.bigdiv{
    display: flex;
}
.one{
    background-color: #d8e2ec;
    width: 150px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto";
    border: 0px;
    color: black;
    cursor: pointer;
}