* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main {
  background-color: rgb(180, 114, 114);
  width: 400px;
  height: 400px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
button {
  width: 40px;
  height: 40px;
}
